# composer
vendor
composer.lock

# phpunit
phpunit.phar
phpunit.xml
.phpunit.result.cache

# php-cs
.php_cs.cache
.php-cs-fixer.cache

# tests
.env
.env.*local
Tests/Application/var

# npm
Resources/js/package-lock.json
Resources/js/node_modules
